In [29]:
# activate plotting
%matplotlib notebook

# import dependencies
import matplotlib.pyplot as plt
import os
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import linregress

In [30]:
# file path
input_file = '../resources/orders.csv'

# create dataframe, set encoding for file
raw = pd.read_csv(input_file, encoding='ISO-8859-1').set_index(['Row ID']).dropna()
print('Row Count:  '+ str(len(raw)))

# return first 5 results
raw.head(5)

Row Count:  9994

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [31]:
# check data types
raw.dtypes

Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [32]:
# adjust data types
raw[['Order Date', 'Ship Date']] = raw[['Order Date', 'Ship Date']].astype('datetime64[ns, Etc/GMT-6]')
raw[['Postal Code']] = raw[['Postal Code']].astype('object')
print(raw.dtypes)

Order ID                            object
Order Date       datetime64[ns, Etc/GMT-6]
Ship Date        datetime64[ns, Etc/GMT-6]
Ship Mode                           object
Customer ID                         object
Customer Name                       object
Segment                             object
Country                             object
City                                object
State                               object
Postal Code                         object
Region                              object
Product ID                          object
Category                            object
Sub-Category                        object
Product Name                        object
Sales                              float64
Quantity                             int64
Discount                           float64
Profit                             float64
dtype: object

In [33]:
# define function for regression and correlation coefficient
def scatter(x_values, y_values):
    plt.grid(True)
    plt.scatter(
        x_values, y_values,
        marker = '.',
        c = '#3D2B1F'
    )
    plt.legend(
        loc = 'best',
        fancybox = True,
        fontsize = 8,
        framealpha = 1
    )
    #plt.ylabel('Latitude')
    plt.tight_layout()
    plt.show()